.boom {
    position: absolute;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: rotation;
    animation-duration: 1s;
    animation-play-state: paused;
    width: 42px;
    height: 42px;
}

.boom.top {
    left: 358px;
    top: 0px;
}

.boom.bottom {
    left: 0;
    top: 633px;
}

.apple {
    position: absolute;
    width: 28px;
    height: 28px;
}

.apple.next {
    width: 10px;
    height: 10px;
}

.ball {
    position: absolute;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: rotation;
    animation-duration: 2s;
    animation-fill-mode: both;
    width: 42px;
    height: 42px;
}

.gameWindow {
    position: absolute;
    width: 600px;
    height: 800px;
    background-color: #f1f1f1;
}

.field {
    position: absolute;
    background-color: #bdaae6;
    width: 400px;
    height: 675px;
    left: 100px;
    top: 62px;
}

.fieldContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.score {
    position: absolute;
    font-size: 24px;
    text-shadow: 1px 1px 2px grey;
}

.score.top {
    left: 10px;
    top: 0px;
    text-align: left;
    width: 390px;
    color: red;
}

.score.bottom {
    left: 0px;
    top: 633px;
    text-align: right;
    width: 390px;
    color: mediumpurple;
}

.tracer {
    position: absolute;
}

.btn {
    width: 100px;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.pause {
    position: absolute;
    left: 250px;
    top: 743px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.gameVersion {
    position: absolute;
    font-size: 10px;
    left: 95%;
    top: 98%;
}

.border-long {
    position: absolute;
    top: 0px;
    left: -16px;
    visibility: hidden;
}

.border-long-horizontal {
    position: absolute;
    top: -80px;
    left: -2px;
    visibility: visible;
}

.border-long-horizontal-2 {
    position: absolute;
    top: -80px;
    left: 200px;
    visibility: visible;
}

.fieldImg {
    position: absolute;
    width: 400px;
    height: 675px;
    left: 0px;
    top: 0px;
    visibility: visible;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        margin-bottom: 0px;
    }

    to {
        opacity: 0;
        margin-bottom: 500px;
    }
}

.fading {
    position: absolute;
    animation: fadeOut 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}
