.boom {
    position: absolute;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: rotation;
    animation-duration: 1s;
    animation-play-state: paused;
    width: 42px;
    height: 42px;
}

.boom.top {
    left: 358px;
    top: 0px;
}

.boom.bottom {
    left: 0;
    top: 633px;
}

.apple {
    position: absolute;
    width: 28px;
    height: 28px;
}

.apple.next {
    width: 10px;
    height: 10px;
}

.ball {
    position: absolute;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: rotation;
    animation-duration: 2s;
    width: 42px;
    height: 42px;
}

.gameWindow {
    position: absolute;
    width: 600px;
    height: 800px;
    background-color: #f1f1f1;
}

.field {
    position: absolute;
    background-color: cornflowerblue;
    width: 400px;
    height: 675px;
    left: 100px;
    top: 62px;
}

.fieldContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.score {
    position: absolute;
    font-size: 24px;
    text-shadow: 1px 1px 2px #000;
}

.score.top {
    left: 10px;
    top: 0px;
    text-align: left;
    width: 390px;
    color: red;
}

.score.bottom {
    left: 0px;
    top: 633px;
    text-align: right;
    width: 390px;
    color: blue;
}

.tracer {
    position: absolute;
}

.btn {
    width: 100px;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.pause {
    position: absolute;
    left: 250px;
    top: 743px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}
